body {
    background-image: url('../image/front-banner.png');
    background-size: cover;
    font-weight: bold;
}

.wrapper {
    display: grid;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin-right: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background: transparent;
    padding: 20px;
    margin-bottom: 5rem;
}

.container {
    display: grid;
    grid-template-columns: 20% 70%;
}

.logo {
    justify-self: center;
    align-self: center;
}

.nav {
    border-left: 2px solid rgb(212, 212, 212);
}

.top-menu {
    display: grid;
    grid-template-columns: 90% 10%;
    justify-self: right;
    border-bottom: 2px solid rgb(212, 212, 212);
}

.top-menu .primary-menu ul li:nth-child(2) span {
    background-color: rgb(212, 212, 212);
    padding: 5px 10px;
    border-radius: 1rem;
}

.bottom-menu {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-self: right;
}

.secondary-menu {
    justify-self: right;
}

.secondary-menu li {
    margin-right: 0px;
}

.bottom-menu .secondary-menu li a:first-child {
    margin-right: 1.5rem;
}

li.dropdown {
    margin-right: 0px;
}

.dropdown:hover .dropdown-child {
    display: block;
}

.dropdown-child {
    width: 150px;
    padding: 20px 30px;
    border-radius: .25rem;
    box-shadow: 5px;
    margin-top: .9rem;
    left: 71.5% !important;
}

.dropdown-child::before {
    content: "";
    display: block;
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #fff;

}

.dropdown-child li {
    display: block;
    line-height: 50px;
    padding-left: 2rem;
}

.dropdown-child {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
    background-color: #f9f9f9;
}

.dropdown-child a {
    color: #727272 !important;
}

.dropdown-child a:hover {
    color: #000000 !important;
}

.isi-dropdown a:hover {
    color: #232323 !important;
    background: #f3f3f3 !important;
}

section {
    padding: 20px 60px;

}

section .contain {
    display: grid;
    grid-template-columns: 40%;
}

section h1 {
    font-size: 42px;
    margin: 0px;
}

section p {
    font-size: 20px;
    margin-bottom: 2rem;
}

section button {
    width: 40%;
    margin-right: 1rem;
    padding: 15px;
}

section .contain .shop {
    background-color: green;
    color: white;
    cursor: pointer;
}

section .contain .about {
    background-color: transparent;
    cursor: pointer;
}

section .contain .img {
    padding-top: 3rem;
}

section .contain img {
    padding-right: 2rem;
}